<div class="row">
    <div class="col-xs-6"><div>
    <div class="col-xs-6">
        <h1> All Product Reviews</h1>  
      <br>  
      <table border=1>  
        <tr>  
        <td>Title</td>  
        <td>Format</td>  
        <td>Date</td> 
        <td>Rating</td> 
        <td>Description</td> 
        
        </tr>  
        <tr *ngFor="let review of reviews">  
        <td>{{review.title}}</td>  
        <td>{{review.format}}</td>  
        <td>{{review.date}}</td> 

        
        <td>  
          <a *ngFor="let item of review.rating; let i=index " (click)="setStarTable(review,i)">  
          <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>  
          </a>  
        </td>  
        <td>{{review.description}}</td> 
        </tr>  
      </table>
    <div>
      
        
       
    </div>
  </div>